/deep/ .thf-page-background-main-logo {
  display: none !important;
}

/deep/ .thf-page-background-secondary-logo {
  display: none !important;
}

/deep/ .thf-menu-logo {
  display: none !important;
}
