<thf-page-default
  t-title="Consulte seu ticket"
  [t-breadcrumb]="breadcrumb">

  <div class="thf-row">
    <thf-input
      class="thf-pt-2 thf-md-12"
      name="ticket"
      [(ngModel)]="ticketCode"
      t-icon="thf-icon thf-icon-search"
      t-label="Código do ticket">
    </thf-input>

    <div class="thf-row thf-pt-3">
      <thf-button
        class="thf-md-4"
        t-label="Buscar"
        t-type="primary"
        [t-disabled]="!ticketCode"
        (t-click)="searchTicket();">
      </thf-button>
    </div>
  </div>

  <thf-divider></thf-divider>

  <div class="thf-row thf-mt-4" *ngIf="ticket">
    <thf-container class="thf-ml-1 thf-md-12">
      <div class="thf-row">
        <thf-info
          class="thf-md-4"
          t-label="Nome"
          [t-value]="ticket.name">
        </thf-info>

        <thf-info
          class="thf-md-4"
          t-label="Email"
          [t-value]="ticket.email">
        </thf-info>

        <thf-info
          class="thf-md-4"
          t-label="Data de abertura"
          [t-value]="formatDate(ticket.date)">
        </thf-info>
      </div>

      <thf-divider></thf-divider>

      <div class="thf-row">
        <thf-tag
          class="thf-lg-3 thf-md-4"
          t-orientation="horizontal"
          [t-type]="getStatus(ticket.status)"
          [t-value]="status ? 'TICKET EM ABERTO' : 'TICKET FECHADO'">
        </thf-tag>
      </div>

      <thf-divider></thf-divider>

      <div class="thf-row">
        <thf-textarea
          class="thf-md-12"
          name="description"
          t-readonly
          [(ngModel)]="ticket.problem_description"
          t-label="Descrição do problema">
        </thf-textarea>
      </div>

      <thf-divider></thf-divider>

      <div class="thf-row thf-pt-3">
        <thf-button
          class="thf-md-4"
          t-label="Limpar dados"
          t-type="secondary"
          (t-click)="clear();">
        </thf-button>
      </div>
    </thf-container>
  </div>

</thf-page-default>
